header .fundo .posi .conteudo h1{
    font-family: 'Marcellus SC', serif;
    font-size: 5vw;
    color: white;
    padding: 0px 0px 0px 0px;
}
*{
    padding: 0;
    margin: 0;
}
header .fundo .posi .conteudo p{
    font-family: 'Markazi Text', serif;
    font-size: 4vh;
    color: white;
    display: flex;
    letter-spacing: 1.2rem;
    max-width: 1152px;
    margin: 0 auto;
}
main .conteudoMain .container .igual {
    background: #411012;
    height: 44px;
    width: 135px;
    text-align: center;
    color: white;
}
main{
    padding: 64px;
}
main .conteudoMain .container{
    background-color: #F5F4F4;
    max-width: 800px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 48px;
    min-height: 40vh;
}
input, label, select{
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
}
.inputValor, .inputConversaoDe, .inputConversaoPara, .igual{
    padding: 0px 15px 0px 15px;
}
select{
    width: 100%;
}
input{
    min-width: 22%;
    padding: 0px 0px 0px 5px;
}
select, input{
    height: 41px;
    font-size: 16px;
    background-color: #C4C4C4;
    border: none;
    flex-wrap: wrap;

}
header .posi .image{
    width: 100%;
    height: auto;
    padding: 0;
    border-bottom: 60px solid #411012;
    border-top: 60px solid #411012;
}
header .fundo .posi .conteudo {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 140px 0;
}
header .fundo .posi {
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
header .fundo{
    background-image: url(img/lcdp.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 60px solid #411012;
    border-top: 60px solid #411012;
}